<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author.email %>
</p>

<% if user_signed_in? %>
<p>
  <strong>Status:</strong>
  <%= @article.published? ? "Published" : "Unpublished" %>
</p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) if policy(@article).edit? %>

<% if @article.published? %>
<h2>Comments</h2>
  <% @article.comments.each do |comment| %>
    <div>
      <table>
        <tr>
          <td>
            <%= comment.content %> ,   
          </td>

          <td>
            <%= comment.commenter_name %>
          </td>

          <td>
            <%= link_to 'Edit', [@article_comment] if policy(comment).edit?  %>
          </td>

          <td>
            <%= link_to 'Destroy', [@article, comment] , method: :delete, data: { confirm: 'Are you sure?' } if policy(comment).destroy? %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>


<%= render :partial => 'comments/form', :article => @article ,:comment => @comment if user_signed_in? %>
<% end %>


<br/>
<%= link_to 'Back', :back %><br/>
<%= link_to 'All Articles', articles_path %>
