<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog_entry.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog_entry.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog_entry.content %>
</p>

<p>
  <strong>Created_at:</strong>
  <%= @blog_entry.created_at %>
</p>

<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
