<p id="notice"><%= notice %></p>

<nav id="shuffle-board-nav">
  <div id="all-btn">All</div>
  <div id="design-btn">DESIGN</div>
  <div id="code-btn">CODE</div>
  <div id="ruby-btn">RUBY</div>
  <div id="sesame-btn">WORK</div>
  <div id="general-btn">GENERAL</div>
  <div id="fun-btn">FAVORITE</div>
</nav>

<div id="content" class="container">
  <div id="shuffle-board">
    &nbsp;
  </div>
</div>


<script>
	$(document).ready(function(){
		var pieces = <%= @pieces.to_json.html_safe %>;
		var items = new Array();

		for(var i = 0, l = pieces.length; i < l; i++)
			items.push( new Item(
					pieces[i][0],
					pieces[i][1],
					pieces[i][2],
					pieces[i][3],
					pieces[i][4]
				) );

		indexes = [<%= @indexes %>,
										<%= @design %>,
										<%= @code %>,
										<%= @ruby %>,
										<%= @work %>,
										<%= @general %>,
										<%= @favorite %>];

		var board = new ShuffleBoard(items, indexes);

		$( window ).resize(function(){
			board.resize();
			board.update(0);
		});
	});

</script>
