<div class="container">

	<!-- <div id="name">
		<%= link_to 'Kevin Townsend', about_me_path %>
	</div> -->

	<section id="social-icons">
		<%- social_icons = [
				{name: 'linkedin', link: "https://www.linkedin.com/in/townsenddev" },
				{name: 'twitter', link: "https://twitter.com/SoccerKevin11" },
				{name: 'github', link: "https://github.com/soccerKevin" },
				{name: 'blog', link: "/articles" }
			] %>
		<% social_icons.each do |icon| %>
			<div class="card-container">
				<div class="card <%= icon[:name] %>">
					<%= link_to icon[:link], class: "front"  do %>
						<%= image_tag asset_path "#{icon[:name]}-front.png" %>
					<% end %>
					<%= link_to icon[:link], class: "back"  do %>
						<%= image_tag asset_path "#{icon[:name]}-back.png" %>
					<% end %>
				</div>
			</div>
		<% end %>
	</section>

	<div id="carousel-container">
		<div id="menu-carousel">
			<figure>Kevin Townsend</figure>
			<figure>Who am I?</figure>
			<figure>View My Work</figure>
			<figure>See what people have to say</figure>
			<figure>Email Me</figure>
		</div>
	</div>

	<div class="blurb">
		Creative, Simple, Elegant Solutions.  Code is an art that needs to be practiced.
	</div>
</div>

