<div class="container">

	<!-- <div id="name">
		<%= link_to 'Kevin Townsend', about_me_path %>
	</div> -->

	<section id="social-icons">
		<% @social_icons.each do |icon| %>
			<div class="card-container">
				<div class="card <%= icon[:name] %>">
					<%= link_to icon[:link], class: "front"  do %>
						<%= image_tag asset_path "#{icon[:name]}-front.png" %>
					<% end %>
					<%= link_to icon[:link], class: "back"  do %>
						<%= image_tag asset_path "#{icon[:name]}-back.png" %>
					<% end %>
				</div>
			</div>
		<% end %>
	</section>

	<div class="blurb">
		Creative, Simple, Elegant Solutions.  Code is an art that needs to be practiced.
	</div>
</div>

