<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= current_tab %>">

<div id="top-nav">
  <nav id="main-nav">
    <%= link_to "Home", home_path %>
    <%= link_to "About Me", about_me_path %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "Blog", articles_path %>
    <%= link_to "Contact", new_contact_path %>
  </nav>

  <div class="right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else%>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %> | 
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
      <%= link_to "Sign in with Git Hub", user_omniauth_authorize_path(:github) %>
    <% end %>
  </div>
</div>

<%= yield %>

</body>
</html>
